body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

#minimap-container {
    margin-right: 24px;
}

#scene-container {
    border: 1px solid #000;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(120, 120, 120, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(120, 120, 120, 1) 100%);
}
